 <div class="h-screen bg-gradient-to-br from-pink-300 p-5 o-pink-100 grid place-items-center">
     <div class="md:w-7/12 rounded border -mt-5">
        <span class="text-red-500 flex justify-center pt-2">  Old Version 1.0 </span>
         <div class="flex justify-center items-center p-2">
            <img src="assets/images/aboutprofile.jpeg" alt="aboutProfile" class=" shadow-lg rounded-full	w-30 h-40 mb-1" > 
         </div>
     <div class="bg-gray-500 p-10 shadow-sm">
         <div class="flex justify-center items-center flex-col">
            <h3 class="text-lg font-medium text-white underline text-xl"> Author : Sajid Ali </h3>
        </div>
         <div class="h-1 w-full mx-auto border-b my-5"></div>
         <p class="text-justify">Hey! Let's knew myself little bit, I loved coding since 3 years ago and I started learn programming language three years ago, but thereafter one year i stopped learn programming language becuase exam and any other problems face in front of me, and thereafer one year i bought a laptop for especially become software engineer, but unfortunately I am not become a software engineer till date, So i decided firstly to become Web Developer/Desinger.</p> <br>
         <p class="text-white"> by by Take care </p>
     </div>
     </div>
 </div>
 
