<div class="bg-indigo-600">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="bg-indigo-300 flex justify-around p-2">
      <button class="bg-indigo-500 hover:bg-indigo-600 hover:underline   px-4 py-2  text-white tracking-wide cursor-pointer" (click)="showData()">Manage Projects</button>
      <button class="bg-red-500 hover:bg-red-600 hover:underline px-4 py-2 text-white tracking-wide cursor-pointer" (click)="showData1()" >Mangage Users</button>
    </div>
    <div class="bg-white p-8 rounded-md w-full">
      <div class="pb-6">
        <!-- <div class="md:flex text-center md:justify-around gap-2">
          <div class="lg:ml-40 ml-10 space-x-8 items-center mb-1">
            <button class="bg-indigo-600 px-4 py-2 rounded-md text-white tracking-wide cursor-pointer"
              (click)="newproject()" >
              Add New Project
            </button>
          </div>
          <div class="lg:ml-40 ml-10 space-x-8 items-center" *ngIf="!noProject">
            <span class="text-red-500 my-1"> <i>No Project yet posted...</i></span>
          </div>
          <div class="flex bg-gray-50 items-center border hover:border-indigo-500 p-2 rounded-md" *ngIf="noProject">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
              fill="currentColor">
              <path fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd" />
            </svg>
            <input class="bg-gray-50 outline-none ml-1" type="text" name="" id="" placeholder="search..." />
          </div>
        </div> -->
      </div>
      <div *ngIf="showDataP">
        <app-project></app-project>
      </div>
      <div *ngIf="showDataU">
        <app-users></app-users>
      </div>
    </div>
  </div>
</div>
