<div class="bg-indigo-600" >
    <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <!-- component -->
      <!-- <h1> {{today | date:'fullDate'}} </h1> -->
      <button *ngIf="showbtnfetch else showbtnText1" class="bg-pink-500 px-4 py-2 rounded-md text-white tracking-wide cursor-pointer m-2"> Update Your Project Content :)  </button>
      <ng-template #showbtnText1>
        <button  class="bg-indigo-500 px-4 py-2 rounded-md text-white tracking-wide cursor-pointer m-2"> Enter Details of Your New Project </button>
      </ng-template>
      <div class="bg-white p-8 rounded-md w-full">
        <div class="pb-6">
            <form [formGroup]="newProjectForm" enctype="multipart/form-data">
            <div class="grid xl:grid-cols-2 xl:gap-6">
                <div class="relative z-0 mb-6 w-full group">
                <input type="text" formControlName= "projectName"  id="floating_first_name"                       
                class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " >
                <label for="floating_first_name"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Project Name </label>
                    <span *ngIf = "projectName.invalid && projectName.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                <input type="text"  id="floating_last_name"
                formControlName = "version" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "  >
                <label for="floating_last_name"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Version </label>
                    <span *ngIf = "version.invalid && version.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
            </div>
            <div class="grid xl:grid-cols-2 xl:gap-6">
                <div class="relative z-0 mb-6 w-full group">
                <input type="text"   id="floating_phone"
                formControlName = "languages" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " >
                <label for="floating_phone"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Programming Languages</label>
                    <span *ngIf = "languages.invalid && languages.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                <input type="text"   id="floating_company"
                formControlName = "level" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " >
                <label for="floating_company"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Level</label>
                    <span *ngIf = "level.invalid && level.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
            </div>
            <div class="grid xl:grid-cols-2 xl:gap-6">
                <div class="relative z-0 mb-6 w-full group">
                <input type="text" id="floating_phone"
                formControlName = "downloadlink" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "  >
                <label for="floating_phone"
                
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"> Download Link</label>
                    <span   If = "downloadlink.invalid && downloadlink.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
                <div class="relative z-0 mb-6 w-full group">
                <input type="text"  id="floating_company"
                formControlName = "previewlink" 
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" "  >
                <label for="floating_company"
                    class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Preview Link</label>
                    <span *ngIf = "previewlink.invalid && previewlink.touched" class="text-red-500 text-sm "> Required vaild field...</span>
                </div>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label for="message" class="block mb-2 text-sm  focus:ring-0 hover:text-blue-600 text-gray-500 dark:text-gray-400">Description </label>
                <textarea formControlName = "description"  id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900  rounded-lg border focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-60 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500  border-2 border-gray-300" placeholder="Leave a message..."> </textarea>
                <span *ngIf = "description.value == '' && description.touched" class="text-red-500 text-sm "> Required vaild field...</span>
            </div>
            <div class="relative z-0 mb-6 w-full group">
                <label class="block mb-2 text-sm  text-gray-500 dark:text-gray-400" for="user_avatar">Project Thumbnail </label>
                <input (change)="thumbnailProcessing($event)" class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-grayth-300 cursor-pointer dark:text-gray-400 focus:outline-none focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 " aria-describedby="user_avatar_help" id="user_avatar" type="file"  accept="image/*" required >
                
                <span *ngIf = "thumbnail" class="text-red-500 text-sm "> Required vaild field...</span>
                <img *ngIf = "showImage" src="{{imageUrl}}" alt="" width="100" height="100">
                <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A project thumbnail picture is useful for attraction public users</div>
            </div>
                <div *ngIf = "newProjectForm.invalid else addProject">
                    <input type="button"
                    disabled  = "newProjectForm.invaild"  *ngIf="showbtnfetch == false else updateHiddenBtn"
                    class="text-center text-white bg-blue-300  focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Add Project"> 
                    <ng-template #updateHiddenBtn>
                        <input type="button"
                    disabled  = "newProjectForm.invaild"
                    class="text-center text-white bg-green-300  focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" value="Update Project"> 
                    </ng-template>
                </div>
                <!-- <input type="submit" 
                class="text-center text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" value="Add Project">  -->
                <ng-template #addProject>
                    <button type="submit" 
                    (click)="newProject()" *ngIf="showbtnfetch == false else updateShowBtn"
                    class="text-center text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"> {{btnAddProject}}</button> 
                    <ng-template #updateShowBtn>
                        <input type="submit" 
                    (click)="updateProject()"
                    class="text-center text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-blue-green font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" value="Update Project"> 
                    </ng-template>
                </ng-template>
            </form>
        </div>        
    </div>
</div>
