<div class="font-sans">
    <div class="relative min-h-screen flex flex-col justify-center items-center bg-gray-100 ">
        <!-- <button routerLink="/"  class=" -mt-2 backtoHome rounded bg-blue-500 text-white p-2 text-sm hover:bg-blue-600 drop-shadow-xl shadow-white transform hover:scale-105 transition duration-500 border border-blue-500"> Back to Home </button> -->
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-yellow-300 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-yellow-500 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block my-5 text-sm text-gray-700 text-xl text-center font-semibold"> 
                    <span class="text-red-500">(Restricted Area)</span> <br> <span class="underline">Website Maintenance System</span> 
                </label>
                <form #FormAdmin ="ngForm" (ngSubmit)="loginAdmin(FormAdmin.value)" class="mt-10">
                                   
                    <div>
                        <span *ngIf = "email.invalid && email.touched" class="text-red-500"> Enter vaild email address</span>
                        <input email type="email" value="admin@failureboy.com" name="email" required #email = "ngModel" email  placeholder="Enter Author Email" class="mt-1 block w-full px-2  bg-gray-100 h-11 rounded-xl shadow-lg focus:bg-red-100 focus:bg-red-100 focus:outline-none focus:border-blue-500" ngModel>
                    </div>
        
                    <div class="mt-7">                
                        <span *ngIf = "password.invalid && password.touched" class="text-red-500"> Enter vaild password</span>
                        <input  minlength="4" type="password" name="password" required #password= "ngModel"  placeholder="Enter Author Password" class="px-2 mt-1 block w-full bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-red-100 focus:bg-red-100 focus:outline-none focus:border-blue-500" ngModel>                           
                    </div>

                    <div class="mt-7 flex">
                        <label for="remember_me" class="inline-flex items-center w-full cursor-pointer">
                            <input id="remember_me" type="checkbox" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="remember">
                            <span class="ml-2 text-sm text-gray-600">
                                Remember
                            </span>
                        </label>
        
                       <div class="w-full text-right">     
                            <a class="underline text-sm text-gray-600 hover:text-gray-900" href="#">
                                Forget password ?
                            </a>                                  
                       </div>
                    </div>
        
                    <div class="mt-7">
                        <button [disabled]="FormAdmin.invalid" class="bg-red-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                           <span *ngIf="loadingLoginBtn else login"> Please wait.. </span> 
                           <ng-template #login>
                               Log In
                           </ng-template>
                        </button>
                    </div>
                    <div class=" mt-7 flex items-center text-center">
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                        <label class="block font-medium text-sm text-gray-600 w-full">
                            &copy; Copyright
                        </label>
                        <hr class="border-gray-300 border-1 w-full rounded-md">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>