<section class="auto-typer-image">
        <h1>Sajid Ali</h1>  
        <div class="auto-typer-container">
            <p> I'm 
                <span class="typewrite" data-period="2000" data-type='["All Rounder😅","Web Designer", "Freelancer", "Computer Operator", "Youtuber"]'> Full Stack Developer </span>
            </p>  
        </div>   
</section>

<section id="skills">
    <div class="skills-title">
      <h1>Skills</h1>
      <p>That my skill percentage below, I am not good in all programming language, But One day I'll good in all of them programming language. Becuase I'll never stop learning and doing practice. </p>
    </div>
    <div class="skills-container">
      <div class="skills-1">
        <div><strong>HTML</strong>
          <div class="htmlProgress" id="html">
            <div id="htmlBar" class="html1">100%</div>
          </div>
        </div>
        <div><strong> CSS &#x2774;Tailwind,Bootstrap&#x2775;  </strong>
          <div class="htmlProgress" id="css">
            <div id="htmlBar" class="css1">80%</div>
          </div>
        </div>
        <div><strong>AJAX</strong>
          <div class="htmlProgress" id="ajax">
            <div id="htmlBar" class="ajax1">60%</div>
          </div>
        </div>
        <div class="htmlProgress" id="javascript">
            <div><strong>JAVASCRIPT</strong>
            <div id="htmlBar" class="javascript1">70%</div>
          </div>
        </div>
        <div><strong> Node Js </strong>
          <div class="htmlProgress" id="nodejs">
            <div id="htmlBar" class="nodejs1">50%</div>
          </div>
        </div>
      </div>
      <div class="skills-2">
        <div><strong>PHP</strong>
          <div class="htmlProgress" id="php">
            <div id="htmlBar" class="php1">75%</div>
          </div>
        </div>
        <div><strong>JQUERY</strong>
          <div class="htmlProgress" id="jquery">
            <div id="htmlBar" class="jquery1">70%</div>
          </div>
        </div>
        <div><strong>Responsive Design</strong>
          <div class="htmlProgress" id="responsive">
            <div id="htmlBar" class="responsive1">100%</div>
          </div>
        </div>
        <div><strong>MYSQL</strong>
          <div class="htmlProgress" id="mysql">
            <div id="htmlBar" class="mysql1">60%</div>
          </div>
        </div>
        <div><strong>Angular</strong>
          <div class="htmlProgress" id="angular">
            <div id="htmlBar" class="angular1">80%</div>
          </div>
        </div>
      </div>
    </div>
  </section>
